<nav class="navbar bg-body-tertiary" id="navigation">
  <div class="container-fluid navbar-container">
    <a id="heading" href="">
      <h2>AGENT ASSIST PORTAL DEMO</h2>
    </a>
    <div class="links">
      <ng-container *ngIf="!(this.auth.isLoggedIn())">
        <a href="/justlogin">LOGIN</a>
        <a href="/signup">SIGN UP</a>
      </ng-container>
     
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="jumbotron">
    <h1>Welcome to Agent Assist Portal</h1>
    <p class="lead">Transforming the way you communicate you know your customers.</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>About Agent Assist Portal</h2>
      <p>At Agent Assist, our mission is to make it easy for the agent to view, access and understand customer needs and
        deliver consistent solutions. Our platform is designed to get all agents together.</p>
    </div>
    <div class="col-md-6">
      <h2>Why Agent Assist Portal?</h2>
      <ul>
        <li>Ease of Access: Agent and admin can easily access relevant records for assessing customer satisfaction.</li>
        <li>Add & Delete records: This portal makes it easy to add new agents, or delete old records.</li>
      </ul>
    </div>
  </div>

  <div class="text-center mt-4">
    <a href="/justlogin" class="btn btn-primary btn-lg">Get Started</a>
  </div>

  <div class="mt-5">
    <blockquote class="blockquote">
      <p class="mb-0">"We learned a lot while making this work."</p>
      <footer class="blockquote-footer">- Vishnu Priya, Sunny & Ayesha</footer>
    </blockquote>
  </div>
</div>