<nav class="navbar bg-body-tertiary" style="background-color: burlywood; padding: 20px;">
    <div class="container-fluid navbar-container">
        <a id="heading" href=""><h2>AGENT ASSIST PORTAL DEMO</h2></a>
      <div class="">
      <a href="/justlogin">LOGIN</a>
      <a href="/signup"  class="active-link">SIGN UP</a>
    </div>
    </div>
  </nav>
    <section class="container my-3 w-50 p-3 border-box">
        <form class="row g-3" #formRef="ngForm" (ngSubmit)="submitForm(formRef)">
            <div class="col-md-6">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" name="firstname" class="form-control" id="firstname" ngModel>
            </div>
            <div class="col-md-6">
              <label for="lastname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastname" name="lastname" ngModel>
            </div>
            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="janedoe123" name="username" ngModel>
            </div>
                  <div class="col-md-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" ngModel>
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email ID</label>
                <input type="email" class="form-control" id="email" name="email" ngModel placeholder="janedoe@email.com">
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Contact number</label>
                <input type="tel" name="phone" ngModel class="form-control" id="phone">
              </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Check me out
                </label>
              </div>
            </div>
            <div class="col-12 text-center m-2">
              <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
            <div class="col-12 text-center m-2">
                <a href="/justlogin" class="col-6 text-end m-2" >Already a user? Login!</a>
              </div>
          </form>
    </section>