<nav class="navbar bg-body-tertiary">
    <div class="container-fluid navbar-container">
        <a id="heading" href=""><h2>AGENT ASSIST PORTAL DEMO</h2></a>
      <div class="">
      <a href="/justlogin">LOGIN</a>
      <a href="/signup"  class="active-link">SIGN UP</a>
    </div>
    </div>
  </nav>
    <section class="container my-3 w-50 p-3 border-box">
        <form class="row g-3" #formRef="ngForm" (ngSubmit)="submitForm(formRef)">
            <div class="col-md-6">
              <label for="firstname" class="form-label">First Name</label>
              <div style="display: flex;">
              <input type="text" name="firstname" class="form-control" id="firstname" ngModel required>
            </div>
            <div *ngIf="formRef.submitted && formRef.controls['firstname'].hasError('required')" class="text-danger">
              This field is mandatory.
            </div>
            </div>
            <div class="col-md-6">
              <label for="lastname" class="form-label">Last Name</label>
              <div style="display: flex;">
              <input type="text" class="form-control" id="lastname" name="lastname" ngModel required>
            </div>
            <div *ngIf="formRef.submitted && formRef.controls['lastname'].hasError('required')" class="text-danger">
              This field is mandatory.
            </div>
            </div>
            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div style="display: flex;">
              <input type="text" class="form-control" id="username" placeholder="janedoe123" name="username" ngModel required>
            </div>
          </div>
            <div *ngIf="formRef.submitted && formRef.controls['username'].hasError('required')" class="text-danger">
              This field is mandatory.
            </div>
                  <div class="col-md-6">
              <label for="password" class="form-label">Password</label>
              <div style="display: flex;">
              <input type="password" class="form-control" id="password" name="password" ngModel required>
              </div>
            <div *ngIf="formRef.submitted && formRef.controls['password'].hasError('required')" class="text-danger">
              Please set a password.
            </div>
          </div>
            <div class="col-md-6">
              <label for="password" class="form-label">Re-enter Password</label>
              <div style="display: flex;">
              <input type="password" class="form-control" id="rpassword" name="rpassword" ngModel required>
            </div>
            <div *ngIf="formRef.submitted && formRef.controls['rpassword'].hasError('required')" class="text-danger">
              Please set a password.
            </div>
            <div *ngIf="formRef.value.rpassword!== formRef.value.password && formRef.value.rpassword!== ''" class="text-danger">
              Passwords do not match
            </div>
          </div>
            <div class="col-12">
                <label for="email" class="form-label">Email ID</label>
                <div style="display: flex;">
                <input type="email" class="form-control" id="email" name="email" ngModel required placeholder="janedoe@email.com">
              </div>
            </div>
              <div *ngIf="formRef.submitted && formRef.controls['email'].hasError('required')" class="text-danger">
                This field is mandatory.
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Contact number</label>
                <div style="display: flex;">
                <input type="tel" name="phone" ngModel required class="form-control" id="phone">
              </div>
            </div>
              <div *ngIf="formRef.submitted && formRef.controls['phone'].hasError('required')" class="text-danger">
                This field is mandatory.
              </div>
            <div class="col-12">
          <div class="form-check">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
            <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck" ngModel required>
          </div>
          <div *ngIf="formRef.submitted && formRef.controls['gridCheck'].hasError('required')" class="text-danger">
            Please check the box.
          </div>
        </div>
            <div class="col-12 text-center m-2">
              <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
            <div class="col-12 text-center m-2">
                <a href="/justlogin" class="col-6 text-end m-2" >Already a user? Login!</a>
              </div>
          </form>
    </section>