<header>
  <div>
    <h1>Agent Assist Portal</h1>
  </div>
  <div class="dropdown">
    <button (click)="toggleDropdown()">Welcome, username</button>
  <div *ngIf="isClicked" class="dropdown-content">
    <p>Username</p>
    <a id="logout" href="./justlogin">Logout</a>
  </div>
  </div>
</header>

<div class="container">
  <div class="navbar">
    <ul>
      <div class="div1">
      <li>
        <a href="#">All Agents</a>
      </li>
      </div>
      <div class="div2">
      <li>
        <a href="./profiles/chat">Chat</a>
      </li>
    </div>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>