body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background-color: burlywood;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: wheat;
  color: black;
  width: 20%;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content{
  flex: 1;
  padding: 20px;
}

button{
  background-color: grey;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: relative;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-content {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover{
  background-color: #007bff;
}

.dropdown:hover .dropdown-content{
  display: block;
}

#logout{
  color: white;
  margin: 10px;
  padding: 10px;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li{
  list-style: none;
  margin: 10px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.div1, .div2{
  display: flex;
  padding: 10px;
}

.div1{
  background-color: rgb(249, 235, 212);
}


