<header class="navbar">
    <nav class="navbar-left">
      <!-- Left side of the navbar content -->
      <ul>
        <li><a routerLink="/profiles/chat">Chat</a></li>
        <li><a routerLink="/profiles/user">User</a></li>
        <li><a routerLink="/profiles/admin">Admin</a></li>
        <!-- Add more links as needed -->
      </ul>
    </nav>
    <div class="navbar-right">
      <!-- Right side of the navbar content -->
      <!-- You can add user-related controls, settings, etc. here -->
    </div>
  </header>
  <aside>
    <div class="logo-container">
        <p>hello
        </p>
        <p>hi</p>
        <p>Welcome</p>
    </div>
</aside>